@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.3872 0.0304 267.4312);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.3872 0.0304 267.4312);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.3872 0.0304 267.4312);
    --primary: oklch(0.6127 0.0842 284.4467);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9321 0.0188 286.029);
    --secondary-foreground: oklch(0.3872 0.0304 267.4312);
    --muted: oklch(0.9242 0.0108 286.1874);
    --muted-foreground: oklch(0.5523 0.038 274.0808);
    --accent: oklch(0.8264 0.0912 341.8212);
    --accent-foreground: oklch(0.3527 0.0638 342.9128);
    --destructive: oklch(0.6666 0.1756 2.3542);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.8744 0.0205 285.9681);
    --input: oklch(0.9713 0.0053 286.3006);
    --ring: oklch(0.6127 0.0842 284.4467);
    --chart-1: oklch(0.6127 0.0842 284.4467);
    --chart-2: oklch(0.8264 0.0912 341.8212);
    --chart-3: oklch(0.7564 0.1014 153.6181);
    --chart-4: oklch(0.8221 0.096 40.6152);
    --chart-5: oklch(0.8625 0.0573 221.9704);
    --sidebar: oklch(0.997 0 0);
    --sidebar-foreground: oklch(0.3872 0.0304 267.4312);
    --sidebar-primary: oklch(0.6127 0.0842 284.4467);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.8264 0.0912 341.8212);
    --sidebar-accent-foreground: oklch(0.3527 0.0638 342.9128);
    --sidebar-border: oklch(0.9041 0.0162 286.0703);
    --sidebar-ring: oklch(0.6127 0.0842 284.4467);
    --font-sans: Geist, sans-serif;
    --font-serif: "Lora", Georgia, serif;
    --font-mono: "Fira Code", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-x: 1px;
    --shadow-y: 2px;
    --shadow-blur: 5px;
    --shadow-spread: 1px;
    --shadow-opacity: 0.06;
    --shadow-color: #1a1a1a;
    --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
    --shadow-xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
    --shadow-sm:
        1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06),
        1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow:
        1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06),
        1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-md:
        1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06),
        1px 2px 4px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-lg:
        1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06),
        1px 4px 6px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-xl:
        1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06),
        1px 8px 10px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.15);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.2215 0.0237 276.9522);
    --foreground: oklch(0.9502 0.0122 276.0953);
    --card: oklch(0.2613 0.0322 276.2196);
    --card-foreground: oklch(0.9502 0.0122 276.0953);
    --popover: oklch(0.2613 0.0322 276.2196);
    --popover-foreground: oklch(0.9502 0.0122 276.0953);
    --primary: oklch(0.7157 0.081 286.6133);
    --primary-foreground: oklch(0.2215 0.0237 276.9522);
    --secondary: oklch(0.4681 0.0551 280.1304);
    --secondary-foreground: oklch(0.9502 0.0122 276.0953);
    --muted: oklch(0.2593 0.0358 278.9633);
    --muted-foreground: oklch(0.7179 0.0289 283.3695);
    --accent: oklch(0.3187 0.0373 292.8938);
    --accent-foreground: oklch(0.881 0.0703 343.1046);
    --destructive: oklch(0.7223 0.1562 0.6795);
    --destructive-foreground: oklch(0.2215 0.0237 276.9522);
    --border: oklch(0.3125 0.0397 277.8515);
    --input: oklch(0.2946 0.0369 275.1963);
    --ring: oklch(0.7157 0.081 286.6133);
    --chart-1: oklch(0.7157 0.081 286.6133);
    --chart-2: oklch(0.881 0.0703 343.1046);
    --chart-3: oklch(0.7564 0.1014 153.6181);
    --chart-4: oklch(0.8221 0.096 40.6152);
    --chart-5: oklch(0.8625 0.0573 221.9704);
    --sidebar: oklch(0.2035 0.0222 276.2653);
    --sidebar-foreground: oklch(0.9502 0.0122 276.0953);
    --sidebar-primary: oklch(0.7157 0.081 286.6133);
    --sidebar-primary-foreground: oklch(0.2215 0.0237 276.9522);
    --sidebar-accent: oklch(0.3187 0.0373 292.8938);
    --sidebar-accent-foreground: oklch(0.881 0.0703 343.1046);
    --sidebar-border: oklch(0.2946 0.0369 275.1963);
    --sidebar-ring: oklch(0.7157 0.081 286.6133);
    --font-sans: Geist, sans-serif;
    --font-serif: "Lora", Georgia, serif;
    --font-mono: "Fira Code", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-x: 1px;
    --shadow-y: 2px;
    --shadow-blur: 5px;
    --shadow-spread: 1px;
    --shadow-opacity: 0.06;
    --shadow-color: #1a1a1a;
    --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
    --shadow-xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
    --shadow-sm:
        1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06),
        1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow:
        1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06),
        1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-md:
        1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06),
        1px 2px 4px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-lg:
        1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06),
        1px 4px 6px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-xl:
        1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06),
        1px 8px 10px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.15);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
    ~
